@font-face {
  font-family: "Crosterian";
  src:
    url("fonts/Crosterian.woff2") format("woff2"),
    url("fonts/Crosterian.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
}

body {
  margin: 0;
  padding: 0 10vw;
  display: flex;
  flex-direction: row;
}

/* Left Section */

.left-container {
  width: 100%;
  height: 100vh;
  min-width: 400px;
  min-height: 800px;
  position: relative;
  flex: 1 1 40%;
}

.left-container > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.logo {
  width: 100%;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo > img {
  max-width: 80px;
}

.logo h1 {
  font-family: "Crosterian", sans-serif;
  font-size: 4rem;
}

.pic-credits {
  position: absolute;
  justify-self: center;
  bottom: 1%;
}

/* Right Section */

.right-container {
  width: 100%;
  height: 100vh;
  position: relative;
  flex: 1 1 60%;
}
