@font-face {
  font-family: "Crosterian";
  src:
    url("fonts/Crosterian.woff2") format("woff2"),
    url("fonts/Crosterian.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Main */
:root {
  --color-white: #fff;
  --color-gray: #f8f9fa;
  --color-red: #fc2121;
  --color-green: #596d48;
  --color-blue: #2121fc;
}

:root {
  background-color: var(--color-white);
}

a {
  color: inherit;
}

body {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0 10vw;
  position: relative;
  display: flex;
  flex-direction: row;
}

/* Left Side */

.left-container {
  width: 100%;
  height: 100vh;
  min-width: 400px;
  min-height: 800px;
  position: relative;
  flex: 1 1 40%;
}

.left-container > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.logo {
  width: 100%;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo > img {
  max-width: 80px;
}

.logo h1 {
  font-family: "Crosterian", sans-serif;
  font-size: 4rem;
  color: var(--color-white);
}

.pic-credits {
  position: absolute;
  justify-self: center;
  color: var(--color-white);
  bottom: 1%;
}

/* Right Side */

.right-container {
  width: 100%;
  height: 100vh;
  min-width: 600px;
  min-height: 800px;
  background-color: var(--color-gray);
  position: relative;
  flex: 1 1 60%;
}

/* Right text */
.right-text {
  padding: 0 4%;
  bottom: 70%;
  position: absolute;
}

.page-text {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

p + p {
  margin-top: 20px;
}

/* Form Section */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.right-container > form {
  width: 100%;
  position: absolute;
  top: 35%;
}

.form-main {
  padding: 10px 4% 10px 4%;
  width: 100%;
  background-color: var(--color-white);
  box-shadow: 0px 8px 6px -4px rgba(0, 0, 0, 0.2);
}

.form-main label {
  font-size: 0.8rem;
  margin-top: 16px;
  display: block;
}

.form-main input {
  min-width: 40ch;
  font-size: 0.8rem;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-main .form-row:first-child {
  margin-top: 10px;
}

.form-main .form-row:last-child {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 80px;
}

.form-block {
  padding-bottom: 8px;
  position: relative;
}

/* Validation feedback */
.feedback {
  margin-top: 1px;
  color: var(--color-red);
  font-size: 0.7rem;
  position: absolute;
  z-index: 1;
  display: none;
}

textarea:focus,
input:focus {
  outline: none;
}

input:focus {
  border: 1px solid var(--color-blue);
  box-shadow: 0px 0px 4px var(--color-blue);
}

input[type="password"]:user-invalid {
  border: 1px solid var(--color-red);
  box-shadow: 0px 0px 4px var(--color-red);
}

input:user-invalid ~ .feedback {
  display: block;
}

/* Button section */
.form-foot {
  margin-top: 30px;
  padding: 0 4%;
}

.form-foot button {
  color: var(--color-white);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 40px;
  background-color: var(--color-green);
  border: 0px;
  border-radius: 6px;
  margin-bottom: 30px;
  transition: 0.1s ease;
}

.form-foot button:hover {
  box-shadow: 1px 1px 2px 2px black;
}

.form-foot button:active {
  transform: translate(5px, 5%);
}

.text-bot {
  font-size: 0.9rem;
}

.text-bot a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-green);
}
